body {
    font-family: Arial;
    padding: 20px;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 150px;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
